<!--

88  88 888888 8888o. .o88o.    8888o. 88     .o88o. .o8888 88  88
88  88 88     88  88 88  88    88  88 88     88  88 88     88 .8'
888888 8888   8888Y' 88  88    8888Y' 88     88  88 88     8888' 
88  88 88     88  88 88  88    88  88 88     88  88 88     88 '8.
88  88 888888 88  88 'Y88Y'    8888Y' 888888 'Y88Y' 'Y8888 88  88

-->
<section id="{{ widget.custom_id }}" class="Theme-Widget Theme-HeroBlock {{ widget.custom_class }}" style="{% if widget.background_style == 'row' %}background:{{ widget.background_color }} url('{{ widget.background_image.src }}') no-repeat 50% 50%; background-size: cover;{% endif %}">
	<div class="row Theme-Interior" style="{% if widget.background_style == 'box' %}background:{{ widget.background_color }} url('{{ widget.background_image.src }}') no-repeat 50% 50%; background-size: cover;{% endif %}">
		<div class="Hero" style="{% if widget.hero_height %}padding-bottom:{{ widget.hero_height }};{% endif %}{% if widget.content_color %}color:{{ widget.content_color }};{% endif %}">
			<div class="HeroInterior Flex-Container {{ widget.content_alignment }}">
				<div class="Flex-Item Content {{ widget.content_offset }} {{ widget.content_width }}">
					{% if widget.preheading_text and widget.preheading_type != "off" %}
						<{{ widget.preheading_type }} class="Preheading"><span style="{% if widget.preheading_color %}color:{{ widget.preheading_color }};{% endif %}">{{ widget.preheading_text }}</span></{{ widget.preheading_type }}>
					{% endif %}
					{% if widget.heading_text and widget.heading_type != "off" %}
						<{{ widget.heading_type }} class="Heading"><span style="{% if widget.heading_color %}color:{{ widget.heading_color }};{% endif %}">{{ widget.heading_text }}</span></{{ widget.heading_type }}>
					{% endif %}
					{% if widget.postheading_text and widget.postheading_type != "off" %}
						<{{ widget.postheading_type }} class="Postheading"><span style="{% if widget.postheading_color %}color:{{ widget.postheading_color }};{% endif %}">{{ widget.postheading_text }}</span></{{ widget.postheading_type }}>
					{% endif %}
				</div>
			</div>
			{% if widget.caret_colortop %}<div class="Caret Caret-Top" style="background:{{ widget.caret_colortop }};"></div>{% endif %}
			{% if widget.caret_colorbottom %}<div class="Caret Caret-Bottom" style="background:{{ widget.caret_colorbottom }};"></div>{% endif %}
		</div>
	</div>
</section>