<!--

.o8888 .o88o. 8888o. 888888 .o88o. .o8888 888888    888888 .o88o. 8888o. 888888o.
88     88  88 88  88   88   88  88 88       88      88     88  88 88  88 88 88 88
88     88  88 88  88   88   888888 88       88      8888   88  88 8888Y' 88 88 88
88     88  88 88  88   88   88  88 88       88      88     88  88 88  88 88 88 88
'Y8888 'Y88Y' 88  88   88   88  88 'Y8888   88      88     'Y88Y' 88  88 88 88 88

-->
<section {% if widget.section_customid %}id="{{ widget.section_customid }}"{% endif %} class="Theme-Widget Theme-ContactForm {{ widget.section_customclasses }}" style="{% if widget.section_bgtype == 'row' %}background:{{ widget.section_bgcolor }} url('{{ widget.section_bgimage.src }}') no-repeat 50% 50%; background-size: cover;{% endif %}">
	<div class="row Theme-Interior" style="{% if widget.section_bgtype == 'box' %}background:{{ widget.section_bgcolor }} url('{{ widget.section_bgimage.src }}') no-repeat 50% 50%; background-size: cover;{% endif %}">
		<div class="small-offset-1 small-10 column end ContactForm">
			<div class="Feedback">
				<div id="Grafik2016-ClientForm">
					{% widget_block form "module_14425153012822299" form_follow_ups_follow_up_type="", response_redirect_id="None", form_to_use="e9af02ac-70fe-4db0-943e-4c3aeff262c9", title="", notifications_are_overridden="False", sfdc_campaign="", response_message="<em>Thanks! We'll be in touch.</em>", response_response_type="inline", response_redirect_url="", overrideable="True", gotowebinar_webinar_key="", label="Form", response={message="<em>Thanks! We'll be in touch.</em>", redirect_url=""} %}
						{% widget_attribute "notifications_override_email_addresses" is_json=True %}[]{% end_widget_attribute %}
					{% end_widget_block %}
				</div>
				<div id="Grafik2016-EmployeeForm">
					{% widget_block form "module_14425152773881494" form_follow_ups_follow_up_type="", response_redirect_id="None", form_to_use="b3b75789-c678-4e71-bb3b-aaad822735e9", title="", notifications_are_overridden="False", sfdc_campaign="", response_message="<em>Thanks! We'll be in touch.</em>", response_response_type="inline", response_redirect_url="", overrideable="True", gotowebinar_webinar_key="", label="Form", response={message="<em>Thanks! We'll be in touch.</em>", redirect_url=""} %}
						{% widget_attribute "notifications_override_email_addresses" is_json=True %}[]{% end_widget_attribute %}
					{% end_widget_block %}
				</div>
			</div>
			<div class="Step01">
				<div class="column medium-6 text-center"><span class="h4 Button01">I WANT TO <strong>HIRE GRAFIK</strong></span></div>
				<div class="column end medium-6 text-center"><span class="h4 Button02">I WANT GRAFIK TO <strong>HIRE ME</strong></span></div>
			</div>
			<div class="Step02">
				<hr/>
				<!-- Radios: I want to hire you... -->
				<div class="Type01">
					<div class="medium-6 column">
						<div class="h3 Heading">For...</div>
						<div><input type="radio" id="ContactForm-Step02-Type01-Radio01-A" name="ContactForm-Step02-Type01-Radio01" value="Branding"><label for="ContactForm-Step02-Type01-Radio01-A" class="h4">Branding</label></div>
						<div><input type="radio" id="ContactForm-Step02-Type01-Radio01-B" name="ContactForm-Step02-Type01-Radio01" value="Digital"><label for="ContactForm-Step02-Type01-Radio01-B" class="h4">Digital</label></div>
						<div><input type="radio" id="ContactForm-Step02-Type01-Radio01-C" name="ContactForm-Step02-Type01-Radio01" value="Both"><label for="ContactForm-Step02-Type01-Radio01-C" class="h4">Both</label></div>
					</div>
					<div class="medium-6 column end">
						<div class="h3 Heading"><strong>To...</strong></div>
						<div><input type="radio" id="ContactForm-Step02-Type01-Radio02-A" name="ContactForm-Step02-Type01-Radio02" value="Help me launch a brand extension"><label for="ContactForm-Step02-Type01-Radio02-A" class="h4">Help me launch a brand extension</label></div>
						<div><input type="radio" id="ContactForm-Step02-Type01-Radio02-B" name="ContactForm-Step02-Type01-Radio02" value="Introduce a new product"><label for="ContactForm-Step02-Type01-Radio02-B" class="h4">Introduce a new product</label></div>
						<div><input type="radio" id="ContactForm-Step02-Type01-Radio02-C" name="ContactForm-Step02-Type01-Radio02" value="Rebrand my company"><label for="ContactForm-Step02-Type01-Radio02-C" class="h4">Rebrand my company</label></div>
						<div><input type="radio" id="ContactForm-Step02-Type01-Radio02-D" name="ContactForm-Step02-Type01-Radio02" value="Increase engagement"><label for="ContactForm-Step02-Type01-Radio02-D" class="h4">Increase engagement</label></div>
						<div><input type="radio" id="ContactForm-Step02-Type01-Radio02-E" name="ContactForm-Step02-Type01-Radio02" value="Other"><label for="ContactForm-Step02-Type01-Radio02-E" class="h4">Other</label></div>
					</div>
				</div>
				<!-- Radios: I want you to hire me... -->
				<div class="Type02">
					<div class="h3 Heading">As...</div>
					<div class="medium-6 column">
						<div><input type="radio" id="ContactForm-Step02-Type02-Radio01-A" name="ContactForm-Step02-Type02-Radio01" value="Copywriter"><label for="ContactForm-Step02-Type02-Radio01-A" class="h4">A Copywriter</label></div>
						<div><input type="radio" id="ContactForm-Step02-Type02-Radio01-B" name="ContactForm-Step02-Type02-Radio01" value="Designer"><label for="ContactForm-Step02-Type02-Radio01-B" class="h4">A Designer</label></div>
						<div><input type="radio" id="ContactForm-Step02-Type02-Radio01-C" name="ContactForm-Step02-Type02-Radio01" value="Art Director"><label for="ContactForm-Step02-Type02-Radio01-C" class="h4">An Art Director</label></div>
						<div><input type="radio" id="ContactForm-Step02-Type02-Radio01-D" name="ContactForm-Step02-Type02-Radio01" value="Web Developer"><label for="ContactForm-Step02-Type02-Radio01-D" class="h4">A Web Developer</label></div>
					</div>
					<div class="medium-6 column">
						<div><input type="radio" id="ContactForm-Step02-Type02-Radio01-E" name="ContactForm-Step02-Type02-Radio01" value="Strategist"><label for="ContactForm-Step02-Type02-Radio01-E" class="h4">A Strategist</label></div>
						<div><input type="radio" id="ContactForm-Step02-Type02-Radio01-F" name="ContactForm-Step02-Type02-Radio01" value="Account Manager"><label for="ContactForm-Step02-Type02-Radio01-F" class="h4">An Account Manager</label></div>
						<div><input type="radio" id="ContactForm-Step02-Type02-Radio01-G" name="ContactForm-Step02-Type02-Radio01" value="Other"><label for="ContactForm-Step02-Type02-Radio01-G" class="h4">Other</label></div>
					</div>
				</div>
			</div>
			<div class="Step03">
				<hr/>
				<div class="h3 Heading">I am...</div>
				<!-- Input Fields: I want to hire you... -->
				<div class="Type01">
					<div><input type="text" name="ContactForm-Step03-Type01-Text01" id="ContactForm-Step03-Type01-Text01" class="h4" placeholder="First Name" required="required" /></div>
					<div><input type="text" name="ContactForm-Step03-Type01-Text02" id="ContactForm-Step03-Type01-Text02" class="h4" placeholder="Last Name" required="required" /></div>
					<div><input type="text" name="ContactForm-Step03-Type01-Text03" id="ContactForm-Step03-Type01-Text03" class="h4" placeholder="Email" required="required" /></div>
					<div><input type="text" name="ContactForm-Step03-Type01-Text04" id="ContactForm-Step03-Type01-Text04" class="h4" placeholder="Phone Number" required="required" /></div>
					<div><input type="text" name="ContactForm-Step03-Type01-Text05" id="ContactForm-Step03-Type01-Text05" class="h4" placeholder="Company" /></div>
					<div><input type="text" name="ContactForm-Step03-Type01-Text06" id="ContactForm-Step03-Type01-Text06" class="h4" placeholder="Company's Website" /></div>
					<!-- Budget Slider -->
					<div class="Budget">
						<div class="column medium-4 h3 Heading">My Budget...</div>
						<div class="column medium-8">
							<div class="range-slider" data-slider data-options="display_selector: #ContactForm-Step03-Type01-Slider01-Raw; start: 25000; end: 1000000; step: 5000;">
								<span class="range-slider-handle" role="slider"></span>
								<span class="range-slider-active-segment"></span>
							</div>
							<div class="column small-4 text-left">$25,000</div>
							<div class="column small-4 text-center">
								<span class="SliderValue-Raw" id="ContactForm-Step03-Type01-Slider01-Raw" data-display="ContactForm-Step03-Type01-Slider01-USD"></span>
								<span class="SliderValue-USD" id="ContactForm-Step03-Type01-Slider01-USD"></span>
							</div>
							<div class="column small-4 text-right">$1,000,000</div>
						</div>
					</div>
					<!-- Timeline Slider -->
					<div class="Timeline">
						<div class="column medium-4 h3 Heading">My Timeline...</div>
						<div class="column medium-8">
							<div class="range-slider" data-slider data-options="start: 0; end: 3;">
								<span class="range-slider-handle" role="slider"></span>
								<span class="range-slider-active-segment"></span>
							</div>
							<div class="Ticks">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="column small-3 text-left">Now</div>
							<div class="column small-3 text-center">6 Mo</div>
							<div class="column small-3 text-center">9 Mo</div>
							<div class="column small-3 text-right">1 Yr</div>
						</div>
					</div>
					<hr/>
					<div class="h3 Heading">Additional Details...</div>
					<div><textarea rows="20" cols="30" name="ContactForm-Step03-Type01-Text07" id="ContactForm-Step03-Type01-Text07" placeholder="My Project Details..."></textarea></div>
					<hr/>
					<button type="button" id="Submit-Type01">SHOW ME WHAT GRAFIK CAN DO</button>
				</div>
				<!-- Input Fields: I want you to hire me... -->
				<div class="Type02">
					<div><input type="text" name="ContactForm-Step03-Type02-Text01" id="ContactForm-Step03-Type02-Text01" class="h4" placeholder="First Name" required="required"></div>
					<div><input type="text" name="ContactForm-Step03-Type02-Text02" id="ContactForm-Step03-Type02-Text02" class="h4" placeholder="Last Name" required="required"></div>
					<div><input type="text" name="ContactForm-Step03-Type02-Text03" id="ContactForm-Step03-Type02-Text03" class="h4" placeholder="Email" required="required"></div>
					<div><input type="text" name="ContactForm-Step03-Type02-Text04" id="ContactForm-Step03-Type02-Text04" class="h4" placeholder="Phone Number" required="required"></div>
					<div><input type="text" name="ContactForm-Step03-Type02-Text05" id="ContactForm-Step03-Type02-Text05" class="h4" placeholder="Portfolio URL" required="required"></div>
					<hr/>
					<div class="h3 Heading">Additional Thoughts...</div>
					<div><textarea rows="20" cols="30" name="ContactForm-Step03-Type02-Text06" id="ContactForm-Step03-Type02-Text06" placeholder="My Thoughts..." ></textarea></div>
					<hr/>
					<div class="h3 Heading">Check out my killer resum&eacute;!</div>
					<div>
						<button type="button" id="Attachment-Type02">ATTACH RESUM&Eacute; HERE</button>
						<span id="Attachment-Type02-Filename" style="padding: 0 2rem; text-align: center;"></span>
					</div>
					<hr/>
					<div><button type="button" id="Submit-Type02">HIRE ME</button></div>
				</div>
			</div>
		</div>
	</div>
</section>