<!--

.o88o. 888888 888888 .o8888 888888 888888    888888 888888 88  88 888888
88  88 88     88     88     88       88        88   88     '8..8'   88  
88  88 8888   8888   'Y88o. 8888     88        88   8888    '88'    88  
88  88 88     88         88 88       88        88   88     .8''8.   88  
'Y88Y' 88     88     8888Y' 888888   88        88   888888 88  88   88  

-->
<!-- GRAFIK2016 - OffsetText -->
<section {% if widget.section_customid %}id="{{ widget.section_customid }}"{% endif %} class="Theme-Widget Theme-OffsetText" style="{% if widget.section_bgtype == 'row' %}background:{{ widget.section_bgcolor }} url('{{ widget.section_bgimage.src }}') no-repeat 50% 50%; background-size: cover;{% endif %}">
	<div class="row Theme-Interior {{ widget.section_customclasses }}" style="{% if widget.section_bgtype == 'box' %}background:{{ widget.section_bgcolor }} url('{{ widget.section_bgimage.src }}') no-repeat 50% 50%; background-size: cover;{% endif %}">
		<div class="{{ widget.text_offsetmobile }} {{ widget.text_widthmobile }} {{ widget.text_offsettablet }} {{ widget.text_widthtablet }} {{ widget.text_offsetdesktop }} {{ widget.text_widthdesktop }}">
			{{ widget.text_content }}
		</div>
	</div>
</section>